// Ionic Variables and Theming. For more info, please see:
/* Dark Mode Theme */
body[color-theme="dark"] {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;
  --ion-background-color: #252525;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-color-rgb: 255, 255, 255;
  --ion-card-background: #121212;
  --ion-item-background: #121212;
  --ion-border-color: #222222;
  --ion-toolbar-background: #0a0a0a;
  --ion-tab-bar-background: transparent;
  --ion-tab-bar-border-color: transparent;
  --ion-color-accent: #8a4dff;
  --ion-color-accent-rgb: 138, 77, 255;
  --ion-color-accent-contrast: #ffffff;
  --ion-color-accent-shade: #7943e0;
  --ion-color-accent-tint: #9665ff;
  --settings-border-color: #8a4dff;
  --settings-card-background: #121212;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-tab-bar-background: #000000;
  --ion-tab-bar-border-color: none;

  *{
    color: white !important;
  }
  ion-tab-bar {
    background: transparent;
    border-top: none;
    box-shadow: none;
  }

  ion-tab-button {
    --color-selected: #ffffff;
    --background: transparent;
    --background-focused: transparent;
    --ripple-color: transparent;
  }

  ion-tab-button.tab-selected {
    --color: #ffffff;
  }

  ion-tab-button ion-icon {
    --ionicon-stroke-width: 40px;
    font-size: 24px;
    color: white;
  }
  .time, .icon-weather, .temperature{
    color: black !important;
  }
  .custom-searchbar{
    box-shadow: none;
    --color: white !important;
  }
  .custom-searchbar ::placeholder{
    color: white !important;
  }

  .settings-item ion-label {
    color: #ffffff !important;
  }

  ion-toggle {
    --background: #333333;
    --background-checked: var(--ion-color-dark);
  }

  ion-radio-group ion-label {
    color: #ffffff !important;
  }

  ion-card {
    --background: #1e1e1e;
    box-shadow: none;
  }

  ion-tab-bar {
    background: #1d1c1c;
    border-top: 1px solid #333333;
    border: none;
  }

  ion-tab-button {
    --color: white;
    background-color: #1d1c1c;
  }
}

body[color-theme="light"] ion-content.settings-page,
body[color-theme="light"] ion-content.home,
body[color-theme="light"] ion-content.addloc {
  --ion-background-color: #F5F5F5 ;
}
