@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  color: #333333;
  font-family: "Poppins", sans-serif;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  margin-bottom: 16px;
}

ion-back-button {
  --icon-font-size: 22px;
  --icon-margin-end: 8px;
  --padding-start: 0;
}

ion-back-button::part(text) {
  font-size: 18px;
  font-weight: bold;
}

/* Search bar styles */

.custom-searchbar {
  --background-color: #e4e4e4;
  --border-radius: 12px;
  --placeholder-color: black;
  --height: 48px;
  padding: 0;
  margin-bottom: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1),
            -4px -4px 10px rgba(255, 255, 255, 0.7);

}

/* Weather cards styles */
.weather-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.location-card {
  margin: 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  position: relative;
}

ion-label {
  padding: 16px;
}

.location-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.location-name h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 4px 0;
}

.location-name p {
  font-size: 14px;
  margin: 0;
}
.weather-img ion-img{
  height: 24px;
  width: 24px;
}
.temperature {
  display: flex;
  align-items: center;
}

.temp-value {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}

.high-low {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.add-loc-container{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
/* Footer tab bar styles */
ion-tab-button {
  --color: #888;
  --color-selected: #000;
  background-color: rgba(255, 255, 255, 0.1);
}

ion-tab-button ion-icon {
  font-size: 24px;
}

ion-tab-button:nth-child(2) ion-icon {
  font-size: 36px;
}
ion-tab-bar{
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.location-item {
  --background: transparent;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --inner-padding-end: 0;
  --border-color: #f0f0f0;
  -webkit-margin-bottom-collapse: separate;
}

.location-cards-container {
  background: transparent;
  box-shadow: none;
}

.location-card-wrapper {
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
}
.location-card-wrapper:last-child {
  margin-bottom: 3rem;
}
