@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: "Poppins", sans-serif;
  color: #333333;
  padding: 0;
  margin: 0;

}

.home-container{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  min-height: 100vh;

}

.weather-location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 7rem;

}

.location-header {
  margin-bottom: 8px;
}

.location-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.location-city {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: .5rem 0 .4rem 0;
  padding: 0;
  letter-spacing: 1px;
}

.temperature-display {
  margin: 0;
}

.temperature-value {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
}

.weather-condition {
  margin: 0 0 8px 0;

  p {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}

.temperature-range {
  display: flex;
  gap: 8px;

  span {
    font-size: 14px;
    font-weight: 500;
  }
}

.high-temp, .low-temp {
  letter-spacing: 0.5px;
}


// hour card
.hourly-title{
  margin-bottom: .5rem;
  opacity: 0.7;
}
.hourly-list{
  margin: 2rem 1rem 0 1rem;
  padding:0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0;
}

ion-card-title {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

ion-card-subtitle {
  font-size: 16px;
  color: #666;
  margin: 0;
}
ion-card{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1),
            -4px -4px 10px rgba(255, 255, 255, 0.7);

}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding: 16px 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.forecast-container {
  display: inline-flex;
  padding: 1rem;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  padding: 16px 12px;
  margin-right: 8px;
  min-width: 70px;
  height: 150px;
}

.time {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}
.weekly-icon{
  width: 40px;
  height: 40px;
}

.temperature {
  font-size: 1rem;
  font-weight: bold;
}


// weekly card
.weather-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
hr{
  border: none;
  background-color: #bdb8b8;
  font-weight: 300;
}

.weekly-title{
  margin-bottom: .5rem;
  opacity: 0.7;
}
.weekly{
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  font-size: 1rem;
}
.weekly-list{
  margin: 2rem 1rem 0 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.weather-container {
  margin: 1rem 1rem 3.5rem 1rem;
  display: flex;

}
.weather-grid ion-col{
  padding: .5rem;
}
.weather-card {
  flex: 1;
  border-radius: 16px;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  opacity: 0.8;
  font-size: 14px;
}

.header ion-icon {
  font-size: 1.5rem;
}

.value {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.desc-condition {
  opacity: 0.8;
  font-size: 10px;
}

.rainfall-label{
  font-weight: 500;
}
ion-card-content {
  padding: 10px;
}
.condition-icon{
  opacity: 0.5;
}
