<ion-content class="home">
  <div class="home-container">
    <div class="weather-location-container">
      <div class="location-header">
        <h1 class="location-name" *ngIf="isCurrentLocation">My Location</h1>
        <p class="location-city">{{ locationCity }}</p>
      </div>

      <div class="temperature-display">
        <span class="temperature-value">{{ temperature }}</span>
      </div>

      <div class="weather-condition">
        <p>{{ weatherCondition | titlecase }}</p>
      </div>

      <div class="temperature-range">
        <span class="high-temp">H: {{ highTemperature }}</span>
        <span class="low-temp">L: {{ lowTemperature }}</span>
      </div>
    </div>

    <ion-card class="hourly-list">
      <ion-card-header>
        <div class="header-container">
          <ion-card-title>TODAY</ion-card-title>
          <ion-card-subtitle>{{ currentDate }}</ion-card-subtitle>
        </div>
      </ion-card-header>
      <ion-card-content>
        <hr>
        <div class="scroll-container">
          <div class="forecast-container">
            <ion-card class="forecast-item" *ngFor="let hour of hourlyForecast">
              <div class="time">{{ hour.time }}</div>
              <div class="weather-icon">
                <img [src]="getWeatherIcon(hour.condition, hour.hour)" alt="{{ hour.condition }}" class="icon-weather">
              </div>
              <div class="temperature">{{ hour.temp }}</div>
            </ion-card>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="weekly-list">
      <p class="weekly-title">7-DAY FORECAST</p>
      <hr>
      <ion-grid class="weekly-grid">
        <ion-row *ngFor="let day of weeklyForecast" class="weekly">
          {{ day.day }} <img [src]="day.icon" alt="Weather Icon" class="weekly-icon">
          <span class="week-temp">{{ day.temp }}</span>
        </ion-row>
      </ion-grid>
    </ion-card>

    <div class="page-container">
      <div class="weather-container">
        <ion-grid class="weather-grid" style="--ion-grid-gap: 16px;">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card class="weather-card temperature-card">
                <ion-card-content>
                  <div class="header">
                    <ion-icon name="thermometer-outline" class="condition-icon"></ion-icon>
                    <span>FEELS LIKE</span>
                  </div>
                  <div class="value">{{ feelsLikeTemperature || '--' }}</div>
                  <div class="desc-condition">
                    {{ feelsLikeDescription || 'Loading...' }}
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="6" size-md="6">
              <ion-card class="weather-card humidity-card">
                <ion-card-content>
                  <div class="header">
                    <ion-icon name="water-outline" class="condition-icon"></ion-icon>
                    <span>HUMIDITY</span>
                  </div>
                  <div class="value">{{ humidity || '--' }}</div>
                  <div class="desc-condition">{{ dewPoint || '--' }}</div>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="6" size-md="6">
              <ion-card class="weather-card wind-card">
                <ion-card-content>
                  <div class="header">
                    <ion-icon name="eye-outline" class="condition-icon"></ion-icon>
                    <span>VISIBILITY</span>
                  </div>
                  <div class="value mb-3 fs-1">{{ visibility }}</div>
                  <div class="desc-condition"> {{ visibilityDescription }}</div>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="6" size-md="6">
              <ion-card class="weather-card rainfall-container">
                <ion-card-content>
                  <div class="header">
                    <ion-icon name="sunny" class="condition-icon"></ion-icon>
                    <span>SUNRISE</span>
                  </div>
                  <div class="value fs-2">
                    {{ sunrise }}
                  </div>
                  <hr><br>
                  <div style="font-size: 13px;">
                    Sunset: {{ sunset }}
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
