<ion-content class="settings-page">
  <div class="ion-padding">
    <div class="header">
      <h1>SETTINGS</h1>
    </div>

    <!-- Appearance Section -->
    <div class="settings-section">
      <h1 class="fw-bold">Appearance</h1>

      <ion-card class="appearance">
        <ion-card-content class="settings-item">
          <ion-label>Dark mode</ion-label>
          <ion-toggle slot="end" [checked]="isDarkMode" (ionChange)="toggleTheme($event)"></ion-toggle>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Temperature Scales Section -->
    <div class="settings-section">
      <h1 class="fw-bold">Temperature Unit</h1>

      <ion-card class="temp-scales">
        <ion-radio-group [value]="temperatureUnit" (ionChange)="temperatureUnitChanged($event)">
          <ion-card-content class="settings-item">
            <ion-label>Celsius</ion-label>
            <ion-radio slot="end" value="celsius"></ion-radio>
          </ion-card-content>
          <hr>
          <ion-card-content class="settings-item">
            <ion-label>Fahrenheit</ion-label>
            <ion-radio slot="end" value="fahrenheit"></ion-radio>
          </ion-card-content>
        </ion-radio-group>
      </ion-card>
    </div>
  </div>
</ion-content>
